@page "/task/{id:guid}/edit"
@using TaskManagementSystem.Client.Components.ToDoTask
@using TaskManagementSystem.Shared.DTOs.ToDoTask
@inject ITaskService TaskService

<PageTitle>Edit Task</PageTitle>

<h1 class="text-center text-2xl font-semibold">Edit task</h1>
<ToDoTaskForm ToDotask="task"
              Submit="EditTask"
              Cancel="GoBack" />

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    [Parameter] public Guid id { get; set; }

    ToDoTaskUpsertDto? task;

    protected override async Task OnParametersSetAsync()
    {
        var taskDto = await TaskService.GetAsync(id);
        if (taskDto is null)
        {
            Navigation.NavigateTo("/task");
            return;
        }
        task = new ToDoTaskUpsertDto
            {
                Title = taskDto.Title,
                Description = taskDto.Description,
                DueDate = taskDto.DueDate,
                IsCompleted = taskDto.IsCompleted
            };
    }

    private async Task EditTask(ToDoTaskUpsertDto task)
    {
        var response = await TaskService.UpdateAsync(id, task);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/task");
        }
    }

    private void GoBack() => Navigation.NavigateTo("/task");
}