@page "/task/new"
@using TaskManagementSystem.Client.Components.ToDoTask
@using TaskManagementSystem.Shared.DTOs.ToDoTask
@inject ITaskService TaskService

<PageTitle>New Task</PageTitle>

<h1 class="text-blue text-center text-2xl font-semibold">Add task</h1>
<ToDoTaskForm ToDotask="task" 
Submit="CreateTask"
Cancel="GoBack" />

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    private ToDoTaskUpsertDto task = new() { DueDate = DateTime.Today };

    private async Task CreateTask(ToDoTaskUpsertDto task)
    {
        var response = await TaskService.CreateAsync(task);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/task");
        }
    }

    private void GoBack() => Navigation.NavigateTo("/task");
}
