@page "/"
@using TaskManagementSystem.Shared.DTOs
@inject HttpClient Http

<PageTitle>Home</PageTitle>

@if (tasks is null)
{
    <p>Loading...</p>
}
else if (tasks.Count == 0)
{
    <p>No tasks.</p>
}
else
{
    <ul>
        @foreach (var task in tasks)
        {
            <li>@task.Title</li>
        }
    </ul>
}

@code {
    private List<TaskDto>? tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await Http.GetFromJsonAsync<List<TaskDto>>("task");
    }
}
