@inherits LayoutComponentBase


<div class="flex min-h-screen flex-col">
    <main class="container mx-auto w-full flex-1 px-6 py-12">
        @Body
    </main>

    <footer class="bg-gray-800 py-4 text-center text-white">
        <p>Realized by <b>Bastien Hatinguais</b> for NLS</p>
    </footer>
</div>